<nz-layout class="layout" [class.showSidebar]="openSidebar">
  <nz-spin
    nzSimple
    *ngIf="commonService.sliceMax === 0"
    class="position-center !z-50 mt-24"
  />
  <nz-layout>
    <nz-sider
      class="sider-component"
      nzCollapsible
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
    >
      <div class="mobile-collapse flex md:hidden" (click)="toggleSidebar()">
        <nz-icon
          *ngIf="!openSidebar"
          nzType="double-right"
          nzTheme="outline"
          class="text-base !text-gray-500"
        />
        <nz-icon
          *ngIf="openSidebar"
          nzType="double-left"
          nzTheme="outline"
          class="text-base !text-gray-500"
        />
      </div>

      <div
        class="logo"
        [class.dark-bg]="isDark"
        [class.dark-border-color2]="isDark"
      >
        <ng-content *ngIf="logoImage; else noLogo">
          <img
            [src]="commonService.settings().favicon"
            class="logo-img"
            *ngIf="isCollapsed; else noCollased"
          />
          <ng-template #noCollased>
            <img class="pointer-events-none" [src]="logoImage" />
          </ng-template>
        </ng-content>

        <ng-template #noLogo>
          <img [src]="commonService.settings().favicon" class="logo-img" />
          <span class="web-title" *ngIf="!isCollapsed">{{
            commonService.settings().sideTitle || commonService.title()
          }}</span>
        </ng-template>
      </div>

      <ul
        nz-menu
        nzMode="inline"
        class="sider select-none auto-scrollbar"
        [class.dark-bg]="isDark"
      >
        <!-- 只显示三级分类 -->
        <li
          nz-menu-item
          *ngFor="
            let thirdLevelItem of commonService.thirdLevelNavs();
            let idx = index;
            trackBy: commonService.trackByItem
          "
          [nzSelected]="commonService.currentSelectedThirdId === thirdLevelItem.id"
          (click)="onClickNav(thirdLevelItem)"
        >
          <app-logo
            *ngIf="thirdLevelItem.icon"
            [src]="thirdLevelItem.icon"
            class="mr-2 flex-center"
            [size]="25"
            [radius]="0"
            [name]="thirdLevelItem.title"
          />
          <span class="ellipsis">{{ thirdLevelItem.title }}</span>
        </li>
      </ul>
    </nz-sider>

    <nz-layout class="inner-layout" [class.dark-bg]="isDark">
      <div
        *ngIf="openSidebar"
        class="mask"
        (click)="toggleSidebar(false)"
      ></div>
      <!-- 使用Tailwind CSS样式的背景组件 -->
      <app-tailwind-background
        [height]="commonService.settings().sideThemeHeight"
      />
      <app-button-search />
      <component-group />
      <div class="px-2.5">
        <app-web-list [search]="false" [overflow]="true" [iconSize]="35" />
      </div>

      <nz-content class="content" id="content">
        <!-- 展示所有三级分类及其子卡片 -->
        <div class="box">
          <div *ngFor="let item of commonService.thirdLevelNavs(); let i = index; trackBy: commonService.trackByItem">
            <div class="nav-wrapper category-container" [id]="'nav-category-' + item.id">
              <app-toolbar-title
                [dataSource]="item"
                [showActions]="false"
                (onCollapse)="commonService.onCollapse(item)"
              />

              <div
                [ngClass]="{
                  'grid gap-x-4 gap-y-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-4':
                    commonService.settings().sideCardStyle !== 'icon',
                  'flex flex-wrap gap-x-6 gap-y-4':
                    commonService.settings().sideCardStyle === 'icon',
                  '2xl:grid-cols-6':
                    commonService.settings().sideCardStyle === 'original' ||
                    commonService.settings().sideCardStyle === 'example',
                }"
                class="category-cards"
              >
                <app-card
                  *ngFor="
                    let el of item.nav;
                    trackBy: commonService.trackByItemWeb
                  "
                  [cardStyle]="commonService.settings().sideCardStyle"
                  [dataSource]="el"
                  class="column-border"
                />
              </div>
            </div>
          </div>

          <ng-template #noData>
            <app-no-data />
          </ng-template>
        </div>
      </nz-content>

      <app-footer
        className="side-footer"
        [content]="commonService.settings().sideFooterHTML"
      />
    </nz-layout>
  </nz-layout>
</nz-layout>

<app-fixbar [showCollapse]="false" />
