.title {
  position: relative;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px 0;
  padding-left: 5px;
  color: #3f51b5;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  user-select: none;
  margin-top: 10px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  .edit-icon {
    display: none;
    vertical-align: middle;
    margin: 0 5px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  &:hover {
    transform: translateX(5px);
    .edit-icon {
      display: inline-block;
      transform: scale(1.2);
    }
  }
  .add-icon {
    position: relative;
    z-index: 6;
    cursor: pointer;
    color: #666;
    right: 10px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover {
      transform: scale(1.2) rotate(90deg);
      color: #3f51b5;
    }
  }
}
