@media (min-width: 768px) {
  .wrapper {
    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      transform: scale(1.2);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fixbar {
  z-index: 30;
  position: fixed;
  bottom: 20px;
  right: 15px;
  user-select: none;
  &.openFixbar {
    .common-show {
      visibility: visible !important;
      opacity: 1 !important;
    }
    .scrolltop {
      opacity: 1 !important;
      visibility: visible !important;
    }
  }

  .wrapper {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    &.common-show {
      visibility: hidden;
      opacity: 0;
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .scrolltop {
    visibility: hidden;
    opacity: 0;
    &.showTop {
      visibility: visible;
      animation: fadeIn 0.5s linear forwards;
    }
  }

  img {
    width: 25px;
    height: 25px;
  }

  i {
    transition: all 0.2s ease-in-out;
    display: inline-block;
    font-size: 20px;
    color: #999;
  }

  .arrow {
    transform: rotate(180deg);
    cursor: pointer;
    font-weight: bold;
  }

  .collapse-icon {
    transform: rotate(-270deg);
    &.active {
      transform: rotate(-360deg);
    }
  }
}
