<div
  *ngIf="!src; else img"
  class="circle common-icon"
  [ngStyle]="{
    width: size === 0 ? '' : size + 'px',
    height: size === 0 ? '' : size + 'px',
    minWidth: size + 'px',
    minHeight: size + 'px',
    borderRadius: radius + 'px',
    backgroundColor: 'transparent'
  }"
>
  <svg
    *ngIf="!firstLetter"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 100"
    [ngStyle]="{
      width: size === 0 ? '35px' : size + 'px',
      height: size === 0 ? '35px' : size + 'px'
    }"
  >
    <defs>
      <linearGradient id="defaultGradient" x1="0%" y1="0%" x2="100%" y2="100%">
        <stop offset="0%" style="stop-color:#4361ee;stop-opacity:1" />
        <stop offset="100%" style="stop-color:#3a0ca3;stop-opacity:1" />
      </linearGradient>
    </defs>
    <circle cx="50" cy="50" r="45" fill="url(#defaultGradient)" />
    <path d="M30,35 L70,35 L70,65 L50,50 L30,65 Z" fill="white" />
  </svg>
  <span *ngIf="firstLetter" [ngStyle]="{
    fontSize: size/2 + 'px',
    color: '#fff',
    fontWeight: '500'
  }">{{ firstLetter }}</span>
</div>

<ng-template #img>
  <!-- 骨架屏占位符 -->
  <app-skeleton
    *ngIf="isLoading && !isError"
    class="skeleton-placeholder"
    [ngStyle]="{
      width: size === 0 ? '' : size + 'px',
      height: size === 0 ? '' : size + 'px',
      minWidth: size + 'px',
      minHeight: size + 'px',
      borderRadius: radius + 'px'
    }"
  ></app-skeleton>

  <img
    *ngIf="!isError"
    [src]="src"
    class="icon common-icon"
    [ngStyle]="{
      width: size === 0 ? '' : size + 'px',
      height: size === 0 ? '' : size + 'px',
      minWidth: size + 'px',
      minHeight: size + 'px',
      borderRadius: radius + 'px'
    }"
    draggable="false"
    loading="lazy"
    [alt]="firstLetter"
    (load)="onLoad()"
    (error)="onError()"
  />

  <div
    *ngIf="isError"
    class="circle common-icon"
    [ngStyle]="{
      width: size === 0 ? '' : size + 'px',
      height: size === 0 ? '' : size + 'px',
      minWidth: size + 'px',
      minHeight: size + 'px',
      borderRadius: radius + 'px',
      backgroundColor: 'transparent'
    }"
  >
    <svg
      *ngIf="!firstLetter"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 100"
      [ngStyle]="{
        width: size === 0 ? '35px' : size + 'px',
        height: size === 0 ? '35px' : size + 'px'
      }"
    >
      <defs>
        <linearGradient id="defaultGradientError" x1="0%" y1="0%" x2="100%" y2="100%">
          <stop offset="0%" style="stop-color:#4361ee;stop-opacity:1" />
          <stop offset="100%" style="stop-color:#3a0ca3;stop-opacity:1" />
        </linearGradient>
      </defs>
      <circle cx="50" cy="50" r="45" fill="url(#defaultGradientError)" />
      <path d="M30,35 L70,35 L70,65 L50,50 L30,65 Z" fill="white" />
    </svg>
    <span *ngIf="firstLetter" [ngStyle]="{
      fontSize: size/2 + 'px',
      color: '#fff',
      fontWeight: '500'
    }">{{ firstLetter }}</span>
  </div>
</ng-template>
