<nz-modal
  [nzWidth]="560"
  [(nzVisible)]="showModal"
  [nzTitle]="$t('_moveTo')"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="hanldeOk()"
>
  <ng-container *nzModalContent>
    <!-- 添加直接选择三级分类的选项 -->
    <div class="mb-4">
      <nz-select
        [ngModel]="threeSelect"
        nzShowSearch
        [nzPlaceHolder]="$t('_sel3')"
        (ngModelChange)="hanldeThreeSelect($event)"
        class="w-full"
      >
        <nz-option
          *ngFor="let item of flattenedThirdLevelData()"
          [nzLabel]="item.title"
          [nzValue]="item.id"
        >
        </nz-option>
      </nz-select>
    </div>

    <div class="act select-none">
      <label nz-checkbox [(ngModel)]="isCopy">{{ $t('_copy') }}</label>
      <label nz-checkbox [(ngModel)]="isSame" *ngIf="isCopy">{{
        $t('_same')
      }}</label>
    </div>
  </ng-container>
</nz-modal>
